.status {
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
}

.status .text_status {
  position: relative;
  top: 20px;
  text-align: center;
  text-transform: capitalize;
}

.status .text_status .name {
  position: relative;
  bottom: 50px;
  font-weight: bold;
  font-size: 10px;
}